button:active {
  transform: scale(0.98);
}
.content:hover {
  background-color: #ffffffa1 !important;
}
.content:active {
  border: 2px #008ae6 solid;
}
.searchbar {
  width: 40%;
  height: 30px;
  border: #a8a8a8 1px solid;
  border-radius: 5px;
  margin-top: 10px;
}
.searchbar:focus {
  border: #008ae6 3px solid;
  outline: 0;
}
*{
  font-family: Kanit;
}